body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column;
}

* {
  outline: 1px solid red;
  outline-offset: -1px;
}

.header {
  order: 1;
  width: 100%;
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-links {
  font-size: 18px;
}

.hero {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  order: 2;
  width: 100%;
  height: 400px;
  background-color: #1f2937;
  padding-left: 156px;
  gap: 8px;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
}

.hero-subtext {
  width: 450px;
  font-size: 18px;
  color: #e5e7eb;
  flex-wrap: wrap;
}

.ul {
  display: flex;
  list-style-type: none;
}

button {
  background-color: #3882f6;
  padding: 6px 24px;
  border-radius: 6px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}
