body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column;
}

* {
  outline: 1px solid red;
  outline-offset: -1px;
}

.header {
  order: 1;
  width: 100%;
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 360px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-link-box {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.header-link {
  font-size: 18px;
}

.hero {
  order: 2;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #1f2937;
  gap: 56px;
}

.hero-left {
  display: flex;
  flex-flow: column;
  flex: none;
  align-items: flex-start;
  gap: 8px;
  width: 450px;
  height: 225px;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  text-align: left;
  word-wrap: break-word;
}

.hero-subtext {
  width: 450px;
  font-size: 18px;
  color: #e5e7eb;
  text-align: left;
}

.hero-image {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 225px;
  width: 500px;
  flex: 0 1 auto;
}

img {
  height: 100%;
  width: 100%;
}

.photo-container {
  order: 3;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  padding-top: 48px;
}

.photo-header {
  order: 1;
  font-size: 36px;
  color: #1f2937;
  align-self: center;
}

.photo-box {
  order: 2;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 80%;
  gap: 48px;
}

.photo {
  border-radius: 6px;
  border-color: #3882f6;
  height: 128px;
  width: 128px;
}

.photo-subtext-box {
  order: 3;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 80%;
  gap: 36px;
}

.photo-subtext {
  border-radius: 6px;
  border-color: #3882f6;
  height: 80px;
  width: 141px;
  text-align: center;
}

ul {
  display: flex;
  list-style-type: none;
}

button {
  background-color: #3882f6;
  padding: 6px 24px;
  border-radius: 6px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}
