body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column;
}

/* container order/size */

.header {
  order: 1;
  width: 100%;
  height: 30px;
}

.hero {
  order: 2;
  width: 100%;
  height: 400px;
}

.photo-container {
  order: 3;
  width: 100%;
  height: 375px;
}

.quote-container {
  order: 4;
  width: 100%;
  height: 325px;
}

.white-container {
  order: 5;
  width: 100%;
  height: 275px;
}

.footer {
  order: 6;
  width: 100%;
  height: 50px;
}

/* margins */

.header-link-box,
.hero-image {
  margin-right: 15%;
}

.header-logo,
.hero-left {
  margin-left: 15%;
}

.quote-paragraph {
  margin-left: 20%;
  margin-right: 20%;
}

.quote-author {
  margin-right: 22%;
}

/* styling */

.header {
  background-color: hsl(0, 69%, 13%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-link-box {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.header-link {
  font-size: 18px;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 69%, 13%);
}

.hero-left {
  display: flex;
  flex-flow: column;
  flex: 0 1 auto;
  align-items: flex-start;
  gap: 8px;
  width: 450px;
  height: 250px;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  text-align: left;
}

.hero-subtext {
  width: 450px;
  font-size: 18px;
  color: #e5e7eb;
  text-align: left;
}

.hero-image {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 250px;
  width: 550px;
  flex: 1 1 1;
}

img {
  height: 100%;
  width: 100%;
}

.photo-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 48px;
}

.photo-header {
  font-size: 36px;
  color: #1f2937;
  align-self: center;
  margin-bottom: 48px;
}

.photo-box {
  order: 2;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 80%;
  gap: 48px;
}

.photos {
  outline: 4px dashed hsl(0, 100%, 50%);
  border-radius: 6px;
  height: 164px;
  width: 164px;
}

.photo-subtext-box {
  order: 3;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 80%;
  gap: 48px;
  margin-top: 10px;
}

.photo-subtext {
  height: 54px;
  width: 164px;
  text-align: center;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.quote-paragraph {
  text-align: left;
  font-size: 36px;
}

.quote-author {
  align-self: flex-end;
  font-size: 16px;
  font-weight: bold;
}

.white-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-box {
  width: 70%;
  height: 50%;
  border-radius: 6px;
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blue-title {
  font-size: 20px;
}

.blue-left,
.blue-title {
  color: #e5e7eb;
}

.action {
  outline: 2px solid #f9faf8;
}

.footer {
  background-color: hsl(0, 69%, 13%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  padding: 6px 24px;
  border-radius: 6px;
}
